header{
    text-align: center;
    margin: 50px;
    font-size:  2rem;
}

.choices{
    display: flex;
    justify-content: center;
}
.rock{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
}
.paper{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
}
.scissors{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
}
.rock:hover{
    transform: scale(1.2);
}
.paper:hover{
    transform: scale(1.2);
}
.scissors:hover{
    transform: scale(1.2);
}